
 <!-- <div class="col-xs-12" align="center">
 
  <video id="myVideo" width="300" height="200" preload="auto" ng-src="{{getVideoUrl(video_arr,languageSelected)}}" type="video/mp4" autoplay controls></video>

</div> -->
<!-- <video id="video_{{stage_id}}_{{languageSelected}}" class="video-js vjs-default-skin"
  controls preload="auto" width="640" height="264" autoplay="true"
  poster="http://video-js.zencoder.com/oceans-clip.png"
  >
 <!-- <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
 <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
 <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' /> -->
  <!-- <source  ng-src="{{getVideoUrl(video_arr,languageSelected,'video')}}" type='video/mp4' />
  -->
<!-- </video> --> 



<!-- <iframe width="420" height="315" ng-src="{{getVideoUrl(video_arr,languageSelected)}}" frameborder="0" allowfullscreen></iframe> -->
 <div class="col-xs-12 spacer" >
	<div class="embed-responsive embed-responsive-16by9" >	
		<iframe class="youtube-player" 
			ng-src="{{getVideoUrl(video_arr,languageSelected) | trustAsResourceUrl}}" 
			allowfullscreen frameborder="0">
	   </iframe>
	</div>

 
</div>
 <div class="col-xs-12 " style=" margin-top: 20px;">
 	<div align="right"><a href="#SelectLan" class="btn btn-primary btn-lg"> Skip</a></div>
 	</div>